* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-user-drag: none;
	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
	display: flex;
}

#sidebar {
	background-image: url('./img/shrooms.jpg');
	background-size: cover;
	min-height: 100vh;
	flex-grow: 1;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#logo {
	background-color: hsla(230, 75%, 9%, 0.7);
	font-family: 'Cinzel', serif;
	position: relative;
	top: 20vh;
	padding: 1rem;
	color: white;
	font-size: 3rem;
	display: flex;
}

#logo img {
	height: 10rem;
	width: auto;
}

#logo span {
	text-align: center;
}

#copyright {
	font-size: 1.1rem;
	color: white;
	text-align: center;
}

#copyright a {
	color: white;
}

#promo {
	padding-left: 2rem;
	padding-right: 15rem;
	padding-top: 3rem;
	font-weight: 900;
	line-height: 1.5rem;
}

label {
	display: flex;
	flex-direction: column;
	font-family: 'Crete Round', serif;
}

form div {
	display: flex;
	gap: 2rem;
	margin: 2rem;
}

input {
	border: 1px solid hsla(220, 2%, 52%, 0.7);
	border-radius: 5px;
	height: 2rem;
}

input:focus {
	box-shadow: 1px 1px 5px black;
	border: 1px solid hsla(236, 90%, 43%, 1);
	outline: none;
}

#actionform {
	flex-grow: 5;
}

#promo div {
	min-width: 37rem;
}

#promo div:nth-child(3) {
	margin-top: 1rem;
}

.error {
	border: 1px solid hsla(6, 87%, 38%, 0.79);
}

#match {
	color: red;
	font-weight: 700;
	font-size: 0.9rem;
}

button {
	background-color: hsla(171, 100%, 43%, 1);
	color: white;
	border: none;
	padding: 1rem;
	font-size: 1.1rem;
	font-weight: 800;
	border-radius: 1rem;
}

button:hover {
	background-color: hsla(190, 100%, 42%, 0.87);
	outline: 1px solid hsla(266, 100%, 47%, 0.2);
}

button:active {
	background-color: hsla(209, 100%, 46%, 1);
	outline: 2px solid hsla(266, 100%, 47%, 0.2);
}

#login {
	padding-left: 2rem;
}

#login a {
	color: hsla(171, 100%, 43%, 1);
	font-weight: 700;
	text-decoration: none;
}

